body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background-image: url(../images/windows-98-background.jpg);
  background-size: cover;

  .main {
    padding: 20px;

    .main__buttons {
      display: flex;

      .main__button {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 0;
        padding: 8px;
        background-color: lightgrey;
        border: 1px solid black;

        .button__icon {
          padding: 4px;
          color: darkblue;
          font-size: 36px;
        }
      }
    }

    .main__modals {
      display: flex;
      justify-content: space-around;
      margin: 20px 0 0 0;

      .main__modal {
        display: none;
        flex-direction: column;
        padding: 20px;
        background-color: lightgrey;
        border: 1px solid black;
        text-align: center;

        &--show {
          display: flex;
        }

        .modal__form {
          display: flex;
        }

        .modal__image-gallery {
          display: grid;
          grid-template: 1fr 1fr / 1fr 1fr;
        }
      }
    }
  }

  .menubar {
    .menubar__start-menu {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;

      &--show {
        display: flex;
        flex-direction: column;
      }

      .menubar__item {
        width: 120px;
        padding: 4px 12px;
        background-color: lightgrey;
        border: 1px solid black;

        .item__icon {
          width: 20px;
          padding: 0 8px 0 0;
        }
      }
    }

    .menubar__main-menu {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      background-color: lightgrey;
      border: 1px solid black;

      .menubar__clock {
        padding: 4px 4px 0;
        border: 1px solid black;
      }
    }
  }
}
