body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background-image: url(../images/windows-98-background.jpg);
  background-size: cover;

  .main {
    padding: 20px;

    .main__buttons {
      display: flex;

      .main__button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        margin: 0 20px 0 0;
        padding: 8px;
        color: navy;
        background-color: lightgrey;
        border: 2px solid navy;

        &:hover {
          background-color: silver;
          cursor: pointer;
        }

        .button__icon {
          padding: 4px;
          font-size: 36px;
        }
      }
    }

    .main__modals {
      display: flex;
      justify-content: space-around;
      margin: 20px 0 0 0;

      .main__modal {
        display: none;
        flex-direction: column;
        color: navy;
        background-color: lightgrey;
        border: 2px solid navy;
        text-align: center;

        &--show {
          display: flex;
          align-items: flex-end;
        }

        .modal__close-button {
          width: fit-content;
          padding: 4px 8px;
          border: none;

          &:hover {
            background-color: silver;
            cursor: pointer;
          }
        }

        .modal__content {
          padding: 0 20px 12px;

          .modal__heading {
            margin: 0 0 20px 0;
          }

          .modal__para {
            height: 24px;
            margin: 12px 0;
          }
        }

        .modal__form {
          display: flex;
          justify-content: center;

          .form__input {
            padding: 0 4px;
            margin-right: 8px;
            text-align: center;
          }
        }

        .modal__photo-gallery {
          display: grid;
          grid-template: 1fr 1fr / 1fr 1fr;
          gap: 12px;
          padding-bottom: 8px;

          .photo-gallery__photo {
            width: 200px;
            height: 120px;
            border: 1px solid navy;
          }
        }
      }
    }
  }

  .menubar {
    .menubar__start-menu {
      display: none;
      width: max-content;
      background-color: lightgrey;
      border: 2px solid white;
      border-right: 2px solid darkgrey;
      border-bottom: none;

      &--show {
        display: flex;
      }

      .start-menu__brand {
        padding: 8px 4px;
        color: white;
        background: linear-gradient(dodgerblue, navy);
        transform: rotate(180deg);
        writing-mode: vertical-lr;
      }

      .start-menu__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &--show {
          display: flex;
          flex-direction: column;
        }

        .start-menu__item {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          padding: 8px 12px;

          &--last {
            border-bottom: none;
          }

          &:hover {
            background-color: silver;
            cursor: pointer;
          }

          .item__icon {
            width: 20px;
            padding-right: 8px;
          }

          .item__arrow {
            padding-left: 8px;
          }
        }
      }
    }

    .menubar__main-menu {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      background-color: lightgrey;
      border-top: 2px solid darkgrey;

      .menubar__button {
        background: none;
        border: 2px solid darkgrey;

        &--clicked {
          border: 2px solid black;
          border-right: 2px solid white;
          border-bottom: 2px solid white;
        }

        &:hover {
          background-color: silver;
          cursor: pointer;
        }
      }

      .menubar__clock {
        padding: 2px 4px;
        border: 2px solid darkgrey;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }
    }
  }
}
