@use "./modules/main-buttons";
@use "./modules/main-modals";
@use "./modules/menubar-start-menu";
@use "./modules/menubar-main-menu";
@use "./partials/mixins";
@use "./partials/pallete";

body {
  @include mixins.flexbox-column-styles;
  height: 100vh;
  margin: 0;
  background-image: url(../images/windows-98-background.jpg);
  background-size: cover;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: pallete.$tertiary-border-color;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms;

    &--show {
      opacity: 0.7;
      z-index: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .main {
    padding: 20px;
  }
}
